.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .language-selector {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 20px;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .story {
    font-size: 18px;
    line-height: 1.5;
    max-width: 600px;
  }
  
  /* Add this to your existing CSS code */

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;
  margin: 5px;
}

a{
  color: white;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.stories{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.story-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.story-button a {
  text-decoration: none;
  color: white;
}

.story-button:hover {
  background-color: #0056b3;
}
